<div id="menu-perfil-aluno sidebar-responsivo" ng-controller="SidebarController" class="visible-xs">
	<ul class="nav navbar-nav navbar-full menuPrincipal" ng-if="principalMenu == 'portal'" ng-class="{'active': principalMenu == 'portal'}">
		<li>
			<a href="" data-target="#principalMenu" data-toggle="collapse" data-parent="#menu-perfil-aluno">
				<span class="k-label-menu-header">{{ 'Principal' | translate }}</span>
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<ul class="nav navbar-nav collapse"  id="principalMenu" ng-class="{'in' :  principalMenu == 'portal'}">
				<li ng-class="{active: principalMenu == 'portal', 'konviva-menu-vertical-colaboracao-item' : principalMenu == 'portal'}">
					<a ui-sref="portal"  ng-click="reloadSidebar()">
						<i class="fa fa-home konviva-icon" aria-hidden="true" style="color: #7d7a78 !important;"></i>
						<i ng-if="principalMenu == 'portal'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Home' | translate }}</span>
					</a>
				</li>

				<li ng-if="false">
					<a ui-sref="aprendizagem.minhapagina.dashboard"  ng-click="reloadSidebar()">
						<i class="fa fa-line-chart konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'dashboard'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Indicadores' | translate }}</span>
					</a>
				</li>
				<li ng-if="false">
					<a ui-sref="aprendizagem.minhapagina.dashboard"  ng-click="reloadSidebar()">
						<i class="fa fa-check-circle konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'dashboard'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Tarefas' | translate }}</span>
					</a>
				</li>
				<li ng-if="false">
					<a ui-sref="aprendizagem.minhapagina.dashboard"  ng-click="reloadSidebar()">
						<i class="fa fa-certificate konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'dashboard'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Minhas conquistas' | translate }}</span>
					</a>
				</li>
				<li ng-if="false">
					<a ui-sref="aprendizagem.minhapagina.dashboard"  ng-click="reloadSidebar()">
						<i class="fa fa-toggle-on konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'dashboard'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Pilulas do conhecimento' | translate }}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>

	<ul class="nav navbar-nav navbar-full menuAprendizagem" ng-if="configUnidade.mostraAprendizagem && hasRole('ROLE_MENU_USUARIO')">
		<li>
			<a href="" data-target="#aprendizagemMenu" data-toggle="collapse" data-parent=".menuAprendizagem">
				<i class="fa fa-graduation-cap"></i>
				<span class="k-label-menu-header">{{ 'Aprendizagem' | translate }}</span>
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<ul class="nav navbar-nav collapse" id="aprendizagemMenu" ng-class="{'in' : aprendizagemMenu}">
				<li ng-if="configUnidade.mostraMeusCursos"
					ng-class="{active: aprendizagemMenu == 'dashboard',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'dashboard'}">
					<a ui-sref="aprendizagem.minhapagina.dashboard"  ng-click="reloadSidebar()">
						<i class="fa fa-graduation-cap konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'dashboard'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Meus cursos' | translate }}</span>
					</a>
				</li>

				<li ng-if="hasFuncionalidade('konviva.aprendizagem.enable_pilula')"
					ng-class="{active: aprendizagemMenu == 'minhaspilulas', 'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'minhaspilulas'}">
					<a ui-sref="aprendizagem.minhaspilulas.pendentes"  ng-click="reloadSidebar()">
						<i class="icon-pill-pilula icone konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'minhaspilulas'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Minhas Pílulas' | translate }}</span>
					</a>
				</li>

				<li ng-if="configUnidade.mostraCatalogo"
					ng-class="{active: aprendizagemMenu == 'catalogo',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'catalogo'}">
					<a ui-sref="aprendizagem.catalogo.cursos({'codCategoria':0})"  ng-click="reloadSidebar()">
						<i class="fa fa-book konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'catalogo'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Catálogo' | translate }}</span>
					</a>
				</li>

				<li ng-if="configUnidade.mostraCalendario"
					ng-class="{active: aprendizagemMenu == 'calendario',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'calendario'}">
					<a ui-sref="aprendizagem.calendario"  ng-click="reloadSidebar()">
						<i class="fa fa-calendar konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'calendario'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Calendário' | translate }}</span>
					</a>
				</li>

				<li ng-if="configUnidade.mostraTrilhas"
					ng-class="{active: aprendizagemMenu == 'trilhalista',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'trilhalista'}">
					<a ui-sref="aprendizagem.trilhalista"  ng-click="reloadSidebar()">
						<i class="fa fa-map-marker konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'trilhalista'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Trilhas' | translate }}</span>
					</a>
				</li>

				<li ng-if="configUnidade.mostraHistorico"
					ng-class="{active: aprendizagemMenu == 'historico',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'historico'}">
					<a ui-sref="aprendizagem.historico"  ng-click="reloadSidebar()">
						<i class="fa fa-history konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'historico'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Histórico' | translate }}</span>
					</a>
				</li>

				<li ng-class="{active: aprendizagemMenu == 'meuspedidos',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'meuspedidos'}"
					ng-if="hasFuncionalidade('konviva.funcionalidade.ecommerce') && configUnidade.mostraMeusPedidos">
					<a ui-sref="aprendizagem.meuspedidos"  ng-click="reloadSidebar()">
						<i class="fa fa-file-o konviva-icon" aria-hidden="true"></i>
						<i class="fa fa-check konviva-icon konviva-icon-double"></i>
						<i ng-if="aprendizagemMenu == 'meuspedidos'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Meus pedidos' | translate }}</span>
					</a>
				</li>

				<li ng-if="configUnidade.mostraRelatorios"
					ng-class="{active: aprendizagemMenu == 'relatorios',  'konviva-menu-vertical-colaboracao-item' : aprendizagemMenu == 'relatorios'}">
					<a ui-sref="aprendizagem.relatorios"  ng-click="reloadSidebar()">
						<i class="fa fa-bar-chart-o konviva-icon" aria-hidden="true"></i>
						<i ng-if="aprendizagemMenu == 'relatorios'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i>
						<span> {{ 'Relatórios' | translate }}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-full menuColaboracao" ng-if="hasFuncionalidade('konviva.funcionalidade.comunidades') && temPermissaoModulo('COLABORACAO') && hasRole('ROLE_MENU_USUARIO')">
		<li>
			<a href="" data-target="#colaboracaoMenu" data-toggle="collapse" data-parent=".menuColaboracao">
				<i class="fa fa-comments"></i>
				<span class="k-label-menu-header">{{ 'Colaboração' | translate }}</span>
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<ul class="nav navbar-nav nav-stacked collapse" id="colaboracaoMenu" ng-class="{'in' : colaboracaoMenu }">
				<li ng-class="{active: colaboracaoMenu == 'minhapagina',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'minhapagina'}">
					<a ui-sref="colaboracao.minhapagina.posts"  ng-click="reloadSidebar()">
						<i class="fa fa-desktop konviva-icon" aria-hidden="true"></i>
						<i ng-if="colaboracaoMenu == 'minhapagina'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Minha página' | translate }}</span>
					</a>
				</li>

				<li ng-class="{active: colaboracaoMenu == 'ranking',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'ranking'}"
					ng-if="sideBarConfiguracao['pontuacaoAtiva']" >
					<a ui-sref="colaboracao.ranking"  ng-click="reloadSidebar()">
						<i class="fa fa-bar-chart konviva-icon" aria-hidden="true"></i>
						<i ng-if="colaboracaoMenu == 'ranking'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Ranking' | translate }}</span>
					</a>
				</li>

				<li ng-class="{active: colaboracaoMenu == 'extrato',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'extrato'}"
					ng-if="sideBarConfiguracao['pontuacaoAtiva']" >
					<a ui-sref="colaboracao.extrato"  ng-click="reloadSidebar()">
						<i class="fa fa-file-text konviva-icon" aria-hidden="true"></i>
						<i ng-if="colaboracaoMenu == 'extrato'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Extrato de pontuação' | translate }}</span>
					</a>
				</li>

				<li ng-class="{active: colaboracaoMenu == 'usuarios',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'usuarios'}" >
					<a  ui-sref="colaboracao.usuarios({'listAll':1})" ng-click="reloadSidebar()">
						<i class="fa fa-user konviva-icon" aria-hidden="true"></i>
						<i ng-if="colaboracaoMenu == 'usuarios'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Usuários' | translate }}</span>
					</a>
				</li>
				<li ng-class="{active: colaboracaoMenu == 'quemestouseguindo',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'quemestouseguindo'}" >
					<a ui-sref="colaboracao.quemestouseguindo"  ng-click="reloadSidebar()">
						<i class="fa fa-user konviva-icon" aria-hidden="true"></i>
						<span class="k-icon-seguindo">
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        </span>
						<i ng-if="colaboracaoMenu == 'quemestouseguindo'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Seguindo' | translate }}</span>
					</a>
				</li>
				<li ng-class="{active: colaboracaoMenu == 'seguidores',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'seguidores'}" >
					<a ui-sref="colaboracao.seguidores"  ng-click="reloadSidebar()">
						<i class="fa fa-user konviva-icon" aria-hidden="true"></i>
						<span class="k-icon-seguindo">
                                            <i class="fa fa-caret-left" aria-hidden="true"></i>
                                        </span>
						<i ng-if="colaboracaoMenu == 'seguidores'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Seguidores' | translate }}</span>
					</a>
				</li>
				<li ng-class="{active: colaboracaoMenu == 'todascomunidades',  'konviva-menu-vertical-colaboracao-item' : colaboracaoMenu == 'todascomunidades'}">
					<a ui-sref="colaboracao.todascomunidades.minhascomunidades"  ng-click="reloadSidebar()">
						<i class="fa fa-users konviva-icon" aria-hidden="true"></i>
						<i ng-if="colaboracaoMenu == 'todascomunidades'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Comunidades' | translate }}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-full menuGamificacao"
		ng-if="hasFuncionalidade('konviva.funcionalidade.gamificacao') && (hasRole('ROLE_GAMIFICACAO_BADGES') || hasRole('ROLE_GAMIFICACAO_RANKING') && hasRole('ROLE_MENU_USUARIO'))">
		<li>
			<a href="" data-target="#menuGamificacao"  data-toggle="collapse" data-parent=".menuGamificacao">
				<i class="fa fa-trophy"></i>
				<span class="k-label-menu-header">{{ 'Gamificação' | translate }}</span>
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<ul class="nav navbar-nav nav-stacked collapse"  id="menuGamificacao" ng-class="{'in' : gamificacaoMenu }">
				<li ng-class="{'active': gamificacaoMenu == 'ranking','konviva-menu-vertical-colaboracao-item': gamificacaoMenu == 'ranking'}"
					ng-if="hasRole('ROLE_GAMIFICACAO_BADGES')">
					<a ui-sref="gamificacao.rankings.ranking"  ng-click="reloadSidebar()">
						<i class="fa fa-signal konviva-icon" aria-hidden="true"></i>
						<i ng-if="gamificacaoMenu == 'ranking'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Ranking' | translate }}</span>
					</a>
				</li>
				<li ng-class="{'active': gamificacaoMenu == 'achievement','konviva-menu-vertical-colaboracao-item': gamificacaoMenu == 'achievement'}"
					ng-if="hasRole('ROLE_GAMIFICACAO_BADGES')">
					<a ui-sref="gamificacao.achievement.extrato"  ng-click="reloadSidebar()">
						<i class="fa fa-list konviva-icon" aria-hidden="true"></i>
						<i ng-if="gamificacaoMenu == 'achievement'" class="fa fa-angle-right konviva-icon-seta-menu-active"></i>
						<span> {{ 'Conquistas' | translate }}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-full menuCompetencias" ng-if="false">
		<li >
			<a href="" data-target="#menuCompetencias" data-toggle="collapse" data-parent=".menuCompetencias">
				<span class="k-label-menu-header">{{ 'Competências' | translate }}</span>
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<ul class="nav navbar-nav collapse"  id="menuCompetencias" ng-class="{'in' : gamificacaoMenu }">
				<li>
					<a ui-sref="aprendizagem.minhapagina.dashboard"  ng-click="reloadSidebar()">
						<i class="fa fa-check konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'dashboard'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Avaliações' | translate }}</span>
					</a>
				</li>

				<li>
					<a ui-sref="aprendizagem.catalogo.cursos"  ng-click="reloadSidebar()">
						<i class="fa fa-book konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'catalogo'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Conciliações' | translate }}</span>
					</a>
				</li>

				<li>
					<a ui-sref="aprendizagem.calendario" ng-click="reloadSidebar()">
						<i class="fa fa-files-o konviva-icon" aria-hidden="true"></i>
						<!-- <i ng-if="aprendizagemMenu == 'calendario'" class="fa fa-angle-right konviva-icon-seta-menu-active" aria-hidden="true"></i> -->
						<span> {{ 'Planos' | translate }}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
